Player = {
    "name",
    ["life"] = 10,
    ["power"] = 3,
    ["gold"] = 10,
    ["pack"] = {},
    ["equipment"] = {"weapon","armor"}
}

itempool = {
    sword = {
        bronzesword = {["name"] = "Bronze Sword",["power"] = 10},
        silversword = {["name"] = "Silver Sword",["power"] = 25},
        goldensword = {["name"] = "Golden Sword",["power"] = 40}
    },
    armor = {
        bronzearmor = {["name"] = "Bronze Armor",["protection"] = 2},
        silverarmor = {["name"] = "Silver Armor",["protection"] = 5},
        goldenarmor = {["name"] = "Golden Armor",["protection"] = 10}
    }
}

enemy = {
    bat = {["name"] = "Bat",["power"] = 1,["life"] = 3, ["gold"] = 1},
    spider = {["name"] = "Spider",["power"] = 2,["life"] = 2, ["gold"] = 1},
    bear = {["name"] = "Bear",["power"] = 14,["life"] = 23, ["gold"] = 7} 
}
 -- {["name"] = ,["power"] = ,["life"] = , ["gold"] =

function printstats(p)
    print(Player["name"],"Life: "..p["life"],"Power: "..p["power"],"Gold: "..p["gold"])
end

function printpack(p)
    i = 1
    while i<=#p do
    print(p["pack"][i])
    i = i+1
    end
end

function printequip(p)
     i = 1
    while i<=#p do
    print(p["equipment"][i])
    i = i+1
    end
end

print("What's your name?")
Player["name"] = io.read()
print("Hello, "..Player["name"].."!")
print("Good luck!")
while Player["life"]>0 do
    printstats(Player)
    print("Select action:")
    print("1 - Pack")
    print("2 - Equipment")
    print("3 - Shop")
    print("4 - Quest")
        
    action = tonumber(io.read())
        
    if action == 1 then
        printpack(Player)
        
    elseif action == 2 then
        printequip(Player)
        
    elseif action == 3 then
        print("What do you wish to buy?")
        print("1 - Sword")
        print("2 - Armor")
        print("3 - Other items")
        
        option = tonumber(io.read())
        
        if option == 1 then
            print("1 - Bronze Sword  $5")
            print("2 - Silver Sword  $20")
            print("3 - Golden Sword  $50")
            
            option = tonumber(io.read())
            
            if option == 1 and Player["gold"]>4 then
                Player["pack"][#"pack"+1] = itempool[1][1] -- talvez problema aqui
                Player["gold"] = Player["gold"] - 5
                
            elseif option == 2 then
                Player["pack"][#"pack"+1] = itempool[1][2] -- talvez problema aqui
                Player["gold"] = Player["gold"] - 20
                
            elseif option == 3 then
                Player["pack"][#"pack"+1] = itempool[1][3] -- talvez problema aqui
                Player["gold"] = Player["gold"] - 50
                
            else
                print("Select a valid option!")
            end
       
        elseif option == 2 then
            print("1 - Bronze Armor  $15")
            print("2 - Silver Armor  $40")
            print("3 - Golden Armor  $80")
            
            option = tonumber(io.read())
            
            if option == 1 then
                Player["pack"][#"pack"+1] = itempool[2][1] -- talvez problema aqui
                Player["gold"] = Player["gold"] - 15
                
            elseif option == 2 then
                Player["pack"][#"pack"+1] = itempool[2][2] -- talvez problema aqui
                Player["gold"] = Player["gold"] - 40
                
            elseif option == 3 then
                Player["pack"][#"pack"+1] = itempool[2][3] -- talvez problema aqui
                Player["gold"] = Player["gold"] - 80
                
            else
                print("Select a valid option!")
            end
            
        elseif option == 3 then
            print("We're out of stock!")
            
        else
            print("Select a valid option!")
        end
        
    elseif action == 4 then
        print("You wish to go on a quest! Where would you like to go?")
        print("1 - Forest")
        print("2 - Return")
        
        option = tonumber(io.read())
        
        if option == 1 then
            print("You enter the forest.")
            randomenemy = enemy(math.random(1,2))
            print("A wild "..randomenemy["name"].." appeared!")
            print("What do?")
            print("1 - Fight")
            print("2 - Run")
            
            action = tonumber(io.read())
            
            if action == 1 then
                randomenemy["life"] = randomenemy["life"] - Player["power"]
                if randomenemy["life"]<1 then
                print(randomenemy["name"].." was defeated!")
                Player["gold"] = Player["gold"] + randomenemy["gold"]
                print("You found "..randomenemy["gold"]!)
               
                else
                print(randomenemy["name"].." attacked!")
                Player["life"] = Player["life"] - randomenemy["power"]
                print("Your life is now "..Player["life"]".")
                
                end
            
            elseif action == 2 then
                print("You coward!")
            end
        
        elseif action == 2
        end
            
        else
            print("Select a valid quest!")
        end
        
    else
            print("Select a valid action!")
    end
end    

if Player["life"]<1 then
    print("You lost! :(")
end
