Player = {
    "name",
    ["life"] = 10,
    ["power"] = 3,
    ["gold"] = 10,
    ["pack"] = {},
    ["equipment"] = {"weapon","armor"}
}

itempool = {
    sword = {
        ["name"] = "Bronze Sword",["power"] = 10,
        ["name"] = "Silver Sword",["power"] = 25,
        ["name"] = "Golden Sword",["power"] = 40
    },
    armor = {
        ["name"] = "Bronze Armor",["protection"] = 2,
        ["name"] = "Silver Armor",["protection"] = 5,
        ["name"] = "Golden Armor",["protection"] = 10
    }
}

function printstats(p)
    print(Player["name"],"Life: "..p["life"],"Power: "..p["power"],"Gold: "..p["gold"])
end

function printpack(p)
    i = 1
    while i<=#p do
    print(p["pack"][i])
    i = i+1
    end
end

function printequip(p)
     i = 1
    while i<=#p do
    print(p["equipment"][i])
    i = i+1
    end
end

print("What's your name?")
Player["name"] = io.read()
print("Hello, "..Player["name"].."!")
print("Get 100 gold pieces!")
while Player["life"]>0 do
    printstats(Player)
    print("Select action:")
    print("1 - Pack")
    print("2 - Equipment")
    print("3 - Shop")
    print("4 - Quest")
        
    action = tonumber(io.read())
        
    if action == 1 then
        printpack(Player)
        
    elseif action == 2 then
        printequip(Player)
        
    elseif action == 3 then
        print("What do you wish to buy?")
        print("1 - Sword")
        print("2 - Armor")
        print("3 - Other items")
        
        option = tonumber(io.read())
        
        if option == 1 then
            print("1 - Bronze Sword  $5")
            print("2 - Silver Sword  $20")
            print("3 - Golden Sword  $50")
            
            option = tonumber(io.read())
            
            if option == 1 and Player["gold"]>4 then
                Player["pack"][#"pack"+1] = itempool[1][1] -- problema aqui
                Player["gold"] = Player["gold"] - 5
                
            elseif option == 2 then
                
            elseif option == 3 then
                
            else
                print("Select a valid option!")
            end
            
            
            
        elseif option == 2 then
            print("1 - Bronze Armor  $15")
            print("2 - Silver Armor  $40")
            print("3 - Golden Armor  $80")
            
            option = tonumber(io.read())
            
            if option == 1 then
                
            elseif option == 2 then
                
            elseif option == 3 then
                
            else
                print("Select a valid option!")
            end
            
        elseif option == 3 then
            print("We're out of stock!")
            
        else
            print("Select a valid option!")
        end
        
    elseif action == 4 then
        
    else
            print("Select a valid action!")
    end
end    

if Player["life"]<=0 then
    print("You lost! :(")
end

if Player["gold"]>=100 then
    print("You won! Congratulations!")
end
